DATA_SOURCE_NAME="postgresql://{{ postgresql_user }}:{{ postgresql_pwd }}@{{ postgresql_host }}:{{ postgresql_port }}/{{ postgresql_db }}"
FLAGS="--auto-discover-databases --extend.query-path=/opt/postgres_exporter/queries.yml"
